.react-multiple-carousel__arrow{
    display: none;
 
}

.carsoulesection
{
    width: 100%;
    height: 23rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 146px;
    
    .react-multi-carousel-list{
height: 100%;
width: 100%;
.react-multiple-carousel__arrow--left {
    left: calc(0% + 0px);
  
}
.react-multiple-carousel__arrow
{

    background:white;

    opacity: 1;
 
    border: 1px solid #00000026;
&:before {
    font-size: 20px;
    color: #000;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative;
}
    }
.react-multiple-carousel__arrow--right {
    right: calc(0% + 0px);
}
.custom{
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
    width: 95%;
    height: 21rem;
}

.cashbakcard{
    border-radius: 3px;
    border: solid 1px #d9e0e2;
    background-color: #ffffff;
    position: relative;
    width: 95%;
    &:hover{
        transform: scale(1.03);
    }
}



        .react-multi-carousel-track {
    .react-multi-carousel-item{
display: flex;
justify-content: space-evenly;
align-items: center;

    }

}
    }
}

//

.SotriesMain{
    width: 100%;
    padding-left: 6.2%;
    padding-right: 6.2%;
 .block-heading {
    margin-top: 3.5rem;
        font-size: 20px;
        font-weight: bold;
        color: #322f2e;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after{
            background: #d8d8d8;
            height: 2px;
            flex: 1;
            content: '';
            margin-left: 24px;
        }
    }
.topStorysection
{
    justify-content: space-between;
width: 100%;

display: flex;
margin-top: 1.4rem;
.featureStore{
    width: 17rem;
    border: solid 1px #d9e0e2;
    height: 25.3rem;
    .fb-title{
        height: 81px;
        background-color: black;
        h1{
       
            width: 100%;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            line-height: 81px;
            letter-spacing: 0.26px;
            text-align: center;
            color: #ffffff;
      
        }
    }
    .imgasection{
      
    
      display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        border-radius: 3px;
        border: solid 1px #d9e0e2;
        background-color: #ffffff;
        width: 180px;
        cursor: pointer;
        /* margin: 25px auto; */
        display: flex;
        vertical-align: middle;
        margin-bottom: 18px;
        margin: auto;
        margin-top: 2rem;
    }
    h3{
        font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.55px;
    color: #4a4a4a;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    }
    label{
        width: 200px;
    height: 38px;
    border-radius: 3px;
    background-color: #cd3232;
    cursor: pointer;
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.02px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 60px 28px 0px 28px;

  
    }
    p{
        color: #2BA828 !important;
        font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: center;

    }
}




.customCarosule
{
    background: #0000ff0a;
    display: flex;
    width: calc(100% - 19rem);
    flex-wrap: wrap;

    justify-content: space-between;
    height: 25.3rem;
    padding-left: 1%;
    flex-direction: column;
    position: relative;
    padding-top: 0.7%;
    padding-bottom: 0.6%;
    .prev{
        position: absolute;
        top: 50%;
        transform: translateX(-38%);
        background: white;
        height: 3rem;
        width: 3rem;
        border: 1px solid;
        cursor: pointer;
        /* top: 0; */
        left: 0;
        border-radius: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        color: #aaa0a0;
        background: white;
    }
    .next{
        position: absolute;
        top: 50%;
        transform: translateX(38%);
        background: white;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        border: 1px solid;
        /* top: 0; */
        right: 0;
        border-radius: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        color: #aaa0a0;
        background: white;
    }
    .cards{
        width: 32.33%;
        height: 121px;
        background: #fff;
        border: 0.5px solid #EBEBEB;

    display: flex;
    &:hover{
        transform: scale(1.03);
    }
    .cardfirst{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-right: 0.5px solid #EBEBEB;
    }

    .cardsecond{
        height: 100%;
        padding-left: 5%;
        h3{
            font-size: 15px;
            font-weight: bold;
            line-height: 1.67;
            margin-top: 6px;
            color: #4a4a4a;
            margin-bottom: 0;
        }
        h5{
            font-size: 13px;
            line-height: 1.92;
            margin-top: 5px;
            color: #666666;
            margin-top: 17px;
            bottom: 9px;
            width: max-content;
        }
        p{
            color: #2BA828 !important;
            font-size: 14px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }
    }
}
}
}


//bann
.bannersection
{
    width: 100%;
    padding-left: 6.2%;
    padding-right: 6.2%;
img{
    width:100%
}
}
.userdeleteheaderterimal{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    border-top-left-radius: 1.3rem; 
    border-top-right-radius: 1.3rem; 
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    height: 5rem;
    background: #5ABEA0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-dialog {
    max-width: 726px !important;
    margin: 1.75rem auto;
}
.coponmodel
{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 16rem;
    align-items: center;
    .sub
    {
        &:hover{
            transform: scale(1.02);
        }
        .imgsection{
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            height: 8rem;
            width: 8rem;
        border-radius: 510px;
        img{
            width: 4rem;
            height: 4rem;
        }
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 16px;
            /* display: flex; */
            /* align-items: center; */
            text-align: center;
            color: #08152D;
            margin-top: 13px;
        }
    }
}
.modal-content {
    border:none !important;
    border-radius: 1.3rem;
    background-color: transparent !important;
}
.modal-body {
    border-bottom-left-radius: 1.3rem; 
    border-bottom-right-radius: 1.3rem; 
    background: white;
}
.modal-backdrop.fade{
  opacity:  1 !important;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    z-index: 99999999999999999999999999999999999 !important;
}
.modal-backdrop {
   
  
}



.searchsection{
     /* height: 100%; */
    /* position: absolute; */
    background: white;
    // z-index: 99999999999999999999999999999999999999999999999999999999999999999999999;
    width: 100%;
    /* height: 100vh; */
    top: 112px;
    /* margin-top: 116px; */
    position: fixed;
    padding: 3%;
    height: calc(100vh - 113px);
    .maincontent{
       display: flex;
        height: 100%;
        justify-content: space-between;
    
    width: 100%;

        .first{
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .firstsub{
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 48%;
                width: 100%;
            }
        }
    .searchlist{
        overflow: scroll;
        height: 100%;
        width: 73%;
        .inside{
            border: 0.5px solid #E6E8EB;
            height: 13rem;
   margin-bottom: 2rem;
            display: flex;
            width: 100%;
            &:hover{
                transform: scale(1.02);
            }
            .back{
                
    height: 100%;
    width: 14rem;
    background-size: 100% 100%;

            }
            .sub{
                display: flex;
                justify-content: space-between;
                height: 100%;
                padding-top: 2rem;
                padding-right: 4%;
                padding-left: 4%;
                width: 100%;
                .thridse{
                    h3{
                        font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: right;

color: #182542;
margin-bottom: 0;
                    }

               h2{
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                display: flex;
                align-items: center;
                text-align: right;
                
                color: #5ABEA0;
                margin-bottom: 0;
               }     
                }
.secondsub{
    position: relative;
    .labelsection{
        display: flex;
        width: 11rem;
        justify-content: space-between;
        position: absolute;
        bottom: 27px;
        label{
            border: 0.5px solid #E6E8EB;
    margin-bottom: 0;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
cursor: pointer;
    &:hover{
        transform: scale(1.04);
    }
        }
    }
                .title{
display: flex;
align-items: center;


h5{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #000000;
margin-bottom: 0;
margin-right: 0.3rem;
}
                }
      p{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        color: #000000;
      }
    }
            }
        }
    }
}
}


.binner{
    position: fixed;
    background: white;
    width: 100%;
    border: 1px solid #EBEBEB;
    height: 80px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    .leftside{
        display: flex;
        height: 100%;
        div
        {
            border-right: 1px solid #EBEBEB;
            font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
/* or 200% */
justify-content: center;
display: flex;
align-items: center;
text-align: center;
width: 230px;
color: #182542;
height: 100%;
&:hover{
    transform: scale(1.03);
}
        }
    }

    .righside
{
    display: flex;
    height: 100%;
    div
    {
        border-left: 1px solid #EBEBEB;
        font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
/* or 200% */
justify-content: center;
display: flex;
align-items: center;
text-align: center;
width: 230px;
color: #182542;
height: 100%;
&:hover{
    transform: scale(1.03);
}
    } 
}
}

.loadinfullpage{
    position: absolute;
    top: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.binnercutom{
    position: fixed;
    background: white;
    width: 100%;
    background-color: #5ABEA0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    z-index: 9;
    &:hover{
       img{
        transform: scale(1.03);
       }
    }
}