.TerinmalLandingLogoin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #5ABEA0;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #5ABEA0;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-size: 100% 100%;
    .overlap{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 1;
    }
    .logoinSection{
        width: 500px;

        height: auto;
        display: flex;
        position: relative;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        justify-content: center;
       background: white;
   .reset {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 3rem;
        background: white;
        color: #6669B0;
        width: 100%;
        background: #E7E7E7;
        border-top: 0.5px solid #CFD1D7;
        border: navajowhite;
    }
    .resetcustom{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 3rem;
        background: white;
        color: #ffffff;

        width: 100%;
        background: #292929;
border-top: 0.5px solid #292929;
        border: navajowhite;
        margin: 0;
        &:hover{
            font-size: 20px;
        }
       }  
    }
    input[type="text"]::placeholder {  
                  
     
    } 
    img{
        margin-bottom: 5rem;
    }
    .back{
        position: absolute;
        z-index: 2;
        top: 2rem;
        cursor: pointer;
        left: 2rem;
        &:hover{
            transform: scale(1.06);
        }
    }

    .admin{
 
        position: absolute;
        z-index: 2;
        top: 5%;
        cursor: pointer;
        right: 3%;
        &:hover{
            transform: scale(1.06);
        }
}
    p{
        margin: 0;
        color: #6669B0;
        font-family: "Montserrat","Open Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        position: absolute;
        top: 8px;
    }
    .inside{
       
        height: 8rem;
            position: relative;
    }

    .inputcall{
        border: 0.5px solid #D9D9D9;
        width: 415px;
        padding-left: 2rem;
        height: 5rem;
        padding-top: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 65px;
        display: flex;
        align-items: center;
        color: #182542ab;
    }
    input{
        display: block;
    width: 328px;
    color: #292929;
    font-family: "Montserrat","Open Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    border: none;
    border-bottom: 1px solid #D9D9D9;
    padding-top: 2rem;
    &:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }
   
    }
    .true{
        padding-bottom: 22px;

    }
.fale{
    padding-bottom: 0px;
}
    label{
        width: 190px;
        height: 58px;
margin-top: 1rem;
font-family: "Montserrat","Open Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-bottom: 0;
color: #FFFFFF;
background: #5ABEA0,;
border: 1px solid #5ABEA0;
margin-bottom: 3rem;
&:hover{
    font-size: 24px;  
}
    }
}


.loadinfullpage{
    height: 100vh;
    display: flex;
    align-items: center;
}

.appcodemain{
    height: 19rem;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .mainsub{
    height: 5rem;
    border-top:none;
    border-left: 0.5px solid #D9D9D9;
    width: 415px;
    border-bottom: none;
    border-right: 0.5px solid #D9D9D9;
    .sub
    {
       
        display: flex;
        align-items: center;
height: 100%;
cursor: pointer;
        margin-left: 2rem;
        margin-right: 2rem;
        border-bottom: 0.5px solid #D9D9D9;
        &:hover{
       
       
            img{
                width: 2.2rem;
                height: 2.2rem;
            }
            h2{
                font-size: 18px;
            }
        }
        img{
            width: 2rem;
            height: 2rem;
            margin-bottom: 0;
        }
        h2{
            font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 65px;
/* or 406% */

display: flex;
align-items: center;
margin-bottom: 0;

margin-left: 0.5rem;
color: #182542;
        }
    }
}
}

