.homenavbar
{
    .Topmain{
        background-color: #5ABEA0;
        border-bottom: 0;
        min-height: 60px;
        height: 60px;
    
    .topfirst{
        display: flex;
        background: #5ABEA0;
        position: relative;
.iconav
        {
            position: relative;
            float: left;
            margin-top: -10px;
            z-index: 1;
            background-color: #5ABEA0;
            border-radius: 0 0 4px 4px;
            width: 208px;
            height: 122px;
            background-position: center;
            transition: all .3s;
            transition: all .3s;
        }
        p{
            font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
margin-bottom: 0;
        }
    }
    .secondtop{
        height: 3rem;

    }
}
}


.header-wrapper{
 
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .3s;
    transform: translateZ(0);
    height: 0;
    .sub-header
    {
        height: 4.5rem;
        line-height: 39px;
        top: 60px;
     
        letter-spacing: 0.2px;
        transition: top 0.3s;
        border-bottom: 0.5px solid #EBEBEB;
        .inputsection{
            width: 100%;
            input{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #002A51;
                padding-left: 7%;
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        .logosection
        {
            border-left: 0.5px solid #EBEBEB;
            height: 100%;
            width: 11rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                transform: scale(1.02);
            }
            img{
                width: 2rem;
                height: 2rem;
            }
            p{
                margin-bottom: 0;
                margin-left: 8px;
                font-weight: 500;
                font-size: 17px;
            }
        }
    }
    .super-header {
        background-color: #5ABEA0;
    border-bottom: 0;
    height: 40px;
        .content-wrapper {
            padding-right: 10rem;
            padding-left: 6.1%;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            height: 100px;
            &::after{
                clear: both;
    display: table;
    content: " ";
            }
.navbar-header 
            {
              
                position: relative;
                margin: 0 auto;
                width: 100%;

                .brand{
                    position: relative;
    float: left;
    margin-top: -10px;
    z-index: 1;
    border: 0.5px solid #EBEBEB;
    background-color: white;
    border-radius: 0 0 4px 4px;

    transition: all .3s;
    .sub{
        width: 228px;
        height: 145px;
        background-position: center;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            img{
                transform: scale(1.03);
            }
       
        }
    }

    .scrollsub{
        width: 171px;
        height: 121px;
        background-position: center;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            transform: scale(1.3);
        }
    }
                }
.top
                {
                    width: auto;
    position: relative;
    display: table;
    border-collapse: separate;
    padding-left: 6%;
    border: none;
    transition: all .3s;
    display: flex;
    height: 40px;
    justify-content: space-between;
    p{
        font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
margin-bottom: 0;
&:hover{
    transform: scale(1.02);
}
    }
                }
            }
        }
    }
}