p{
    font-family: Montserrat;
}
a{
    font-family: Montserrat;
}
h1{
    font-family: Montserrat;
}
h2{
    font-family: Montserrat;
}
h3{
    font-family: Montserrat;
}
h4{
    font-family: Montserrat;
}
h5{
    font-family: Montserrat;
}
div{
    font-family: Montserrat;
}h6{
    font-family: Montserrat;
}

label{
    font-family: Montserrat;
}
body{
    font-family: Montserrat;
}
span{
    font-family: Montserrat;
}